<template>
	<validator name="validation">
		<form novalidate v-on:submit.prevent="onSend">
			<div class="form-group" v-bind:class="{ 'has-error': $validation.username.required, 'has-success': !$validation.username.required }">
				<label for="username">Имя <span class="required-symbol">*</span></label>
				<input class="form-control" id="username" v-model="username" type="text" v-validate:username="['required']" />
			</div>
			<div class="form-group" v-bind:class="{ 'has-error': $validation.tel.tel, 'has-success': !$validation.tel.tel }">
				<label for="tel">Телефон <span class="required-symbol">*</span></label>
				<input class="form-control" id="tel" v-model="tel" type="tel" placeholder="+7 123 456-7890"  v-validate:tel="['tel']" />
			</div>
			<div class="form-group">
				<label for="time">Удобное время звонка (по Москве)</label>
				<input class="form-control" id="time" v-model="time" type="time" />
			</div>
			<div class="form-group">
				<label for="email">E-mail</label>
				<input class="form-control" id="email" v-model="email" type="email" />
			</div>
			<input type="submit" value="Отправить" v-show="$validation.valid" :disabled="!$validation.valid">
		</form>
	</validator>
</template>

<script>
	export default {
		methods: {
			onSend: function () {
				this.$http
					.post('url', this.$data, {emulateJSON: true})
					.then(function(response) {
						this.$parent.show = false;
					}, function(response) {
						console.log('error')
					})
					.then(function(){

					})
			}
		},
		data() {
			return {
				username: '',
				tel: '',
				time: '',
				email: ''
			}
		}
	}
</script>

<style scoped>
	* {
		box-sizing: border-box;
	}
	[type="submit"] {
		margin: 0 auto;
		display: block;
		padding: 0;
		border: 0;
		height: 24px;
		width: 90px;
		font: 12px Arial, sans-serif;
		color: #fff;
		background-color: #dc1735;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	[type="submit"][style*="display: none;"] {
		display: block !important;
		opacity: 0.3;
	}
	.has-error .form-control {
		border-color: #dc1735;
	}

	/* .has-success .form-control {
		border-color: #4adc17;
	} */


	.required-symbol {
		color: #dc1735;
	}

	.form-group {
		margin-bottom: 10px;
	}

	.form-group label,
	.form-group input {
		display: block;
		width: 100%;
		font: 12px Arial, sans-serif;
		text-align: left;
	}

	.form-control {
		margint: 0;
		padding: 0;
		border: 1px solid #a9a9a9;
		line-height: 18px;
		height: 20px;
	}
</style>
